---
import Layout from "@layouts/Layout.astro";
import Container from "@components/container.astro";
import Sectionhead from "@components/sectionhead.astro";
import PricingCard from "@components/pricing.astro";

const pricing = [
  {
    name: "Iniciante",
    price: "Gratuito",
    popular: false,
    features: [
      "Gratuito para sempre",
      "Até 3 usuários",
      "Limite de 200 inscritos",
      "1 Evento",
      "Funções básicas",
      "Suporte",
    ],
    button: {
      text: "Comece agora",
      link: "/",
    },
  },
  {
    name: "Básico",
    price: {
      monthly: "R$ 150,00",
    },
    popular: true,
    features: [
      "Até 20 usuários",
      "5 Eventos",
      "Sem limite de inscritos ",
      "Funções Avançadas",
      "Integrações",
      "Suporte Prioritário",
    ],
    button: {
      text: "Comece agora",
      link: "#",
    },
  },
  {
    name: "Avançado",
    price: "Customizável",
    popular: false,
    features: [
      "Hub de eventos particular",
      "Usuários ilimitados",
      "Eventos ilimitados",
      "Livre de anúncios",
      "Consultoria de gestão",
      "Suporte Personalizado",
    ],
    button: {
      text: "Fale conosco",
      link: "/contact",
    },
  },
];
---

<Layout title="Preços">
  <Container>
    <Sectionhead>
      <Fragment slot="title">Preços</Fragment>
      <Fragment slot="desc">
       Simples, sem surpresas.
      </Fragment>
    </Sectionhead>

    <div class="grid md:grid-cols-3 gap-10 mx-auto max-w-screen-lg mt-12">
      {pricing.map((item) => <PricingCard plan={item} />)}
    </div>
  </Container>
</Layout>
