---
// @ts-ignore
import { Icon } from "astro-icon";

const features = [
  {
    title: "Checkin",
    description:
      "Com apenas um click direcione seus participantes aos seus aposentos, conferindo seus dados, informações de contato e comprovantes de pagamento",
    icon: "bx:bxs-briefcase",
  },
  {
    title: "Integrado ao Whatsapp",
    description:
      "Mande mensagens personalizadas em massa aos seus Participantes e Voluntários automaticamente",
    icon: "ic:baseline-whatsapp",
  },
  {
    title: "Parâmetros",
    description:
      "Personalize o seus eventos com suas cores, logos, campos, capacidade de inscrição e muito mais",
    icon: "mdi:cog",
  },
  {
    title: "Relatórios",
    description:
      "Imprima todas as suas listagens e relatórios de acordo com sua necessidade",
    icon: "uil:print",
  },
  {
    title: "Histórico",
    description:
      "Tenha uma timeline atualizada dos eventos que cada membro participou e foi voluntário",
    icon: "bx:bxs-file-find",
  },
  {
    title: "Eventos de casais",
    description:
      "Adaptado para eventos de Casais e Individuais",
    icon: "mdi:ring",
  },
];
---

<div class="mt-16 md:mt-0">
  <h2 class="text-4xl lg:text-5xl font-bold lg:tracking-tight">
    Tudo que você precisa para gerenciar um evento
  </h2>
  <p class="text-lg mt-4 text-slate-600">
  O SysIgreja tem uma série de módulos indispensáveis para organização de qualquer tipo de evento cristão.
  </p>
</div>

<div class="grid sm:grid-cols-2 md:grid-cols-3 mt-16 gap-16">
  {
    features.map((item) => (
      <div class="flex gap-4 items-start">
        <div class="mt-1 bg-black rounded-full  p-2 w-8 h-8 shrink-0">
          <Icon class="text-white" name={item.icon} />
        </div>
        <div>
          <h3 class="font-semibold text-lg">{item.title}</h3>{" "}
          <p class="text-slate-500 mt-2 leading-relaxed">{item.description}</p>
        </div>
      </div>
    ))
  }
</div>
